* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(197, 213, 196);
}

main {
    margin: 20px;
}

header,
header h1,
header p {
    background-color: rgb(95, 116, 93);
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    
}
header {
    box-shadow: 2px 4px 3px rgb(31, 42, 32);
}
li {
    list-style: none;
}
a {
    color: rgb(52, 127, 80);
    font-size: 17px;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}
.badge.done {
    background-color: rgb(127, 153, 125);
    color: white;
    margin: 10px;
}
.badge.wip {
    background-color: rgb(196, 107, 129);
    color: white;
    margin: 10px;
}

h2 {
    background-color: rgb(147, 170, 152);
    width: 20%;
    padding: 10px;
    border: 1px solid rgb(35, 50, 36);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(38, 51, 40);
    margin: 30px;
}

footer,
footer p {
    background-color: rgb(95, 116, 93);
    padding: 10px;
    color: white;
}

.light-theme {
  background: white;
  color: black;
}

.dark-theme {
  background: #1a1a1a;
  color: #f0f0f0;
}

